@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
}
.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img1.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro-image__link a {
    background-color: #502f2280;
    border: 2px solid #502f22c4;
    color: #d4a388;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #63483e;
    color: #c0aaab;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
    
    
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quality-image__link a {

    background-color: #8d999aab;    ;
    border: 2px solid #e1bbb9;
    color: #e1bbb9;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;

}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #bebfba;
    color: #3c5852;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #efecec;
    color: #da9ca7;
    font-size: 2rem;
    padding-top: 2rem;
}


.footer ul li {
    display: inline-block;
    margin: 1rem;

}

.footer ul li a {
    color: #da9ca7;
    text-decoration: none;
}

.footer ul li :hover {
    transform: scale(1.5);
    color: #dbdbdb;
}

.Origin-Image {
    background-attachment: fixed;
    background-image: url('../img/img3.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Origin_Image__link a {
    background-color: #3c312d;
    border: 2px solid #a2a7a8;
    color: #a34727;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.Origin_Image__link a:hover {
    transform: scale(1.5);
    color: #dbdbdb;
}

.Origin-Text {
    background-color: #a34727;
    color: #a2a7a8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.Origin-Text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

}